
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Oswald');
$oswald: 'Oswald', sans-serif;

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #ffffff;
  min-height: 70px;
  border-bottom: 0.2px solid #A1A4B6;
  z-index: 1;
  font-weight: 900;
}

.btn-primary{
  color: #fff;
  font-weight: 600;
}

.btn-primary:hover{
  background-color: #2779BD;
}

.icon{
  color: #a2a2c3;
  font-size: 16px;
}

.sidebar{
  .nav-item{
    .nav-link{
      color: #363646;
      font-weight: 600;
    }
    .active{
      background-color: #f6f8ff;
      color: #566fff;
      border-radius: 30px;
      .icon{
        color: #566fff;
      }
    }
  }
}